{% extends 'base.html' %}


{% block content %}
<style type="text/css">
	.card{
		padding:20px;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-9 offset-lg-1">
			<div class="card">
				<p class="m-auto">You must be a member at <a href="https://codingwithmitch.com/enroll/" target="_blank">Codingwithmitch.com</a> to interact with this website.</p>
				<br>
				<p class="m-auto"><a class="btn btn-primary" href="https://codingwithmitch.com/enroll/" target="_blank">Enroll here</a></p>
			</div>
		</div>
		
	</div>
</div>


{% endblock content %}